<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="PlusTekPassportDetailSender.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="dbLocation" value="C:\Users\Public\Documents\Plustek-SecureScan\Result.mdb" />
    <add key="API_URL" value="http://192.168.78.51/ScannedMRZ/rest/v1/TravelDocument" />
    <add key="username" value="" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <userSettings>
    <PlusTekPassportDetailSender.Properties.Settings>
      <setting name="dbLocation" serializeAs="String">
        <value>C:\Users\Public\Documents\Plustek-SecureScan\Result.mdb</value>
      </setting>
      <setting name="username" serializeAs="String">
        <value />
      </setting>
      <setting name="API_URL" serializeAs="String">
        <value>http://192.168.78.51/ScannedMRZ/rest/v1/TravelDocument</value>
      </setting>
    </PlusTekPassportDetailSender.Properties.Settings>
  </userSettings>
</configuration>